button
{
    padding: 3px 10px;
    margin: 0;
    border: 1px solid #4e4e4e;
    border-radius: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;

    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

button span.button__icon
{
    display: inline-block;
    padding: 0 3px 0 18px;
    vertical-align: middle;
}

button.button--center
{
    margin: 0 auto;
}

button.button--large
{
    display: block;
    padding: 15px 10px;
    margin: 0;
    border: 1px solid #4e4e4e;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
}

button.button--large .button__table
{
    width: 100%;
}